language: node_js
node_js: '0.10'
# addons:
#   sauce_connect: true
branches:
  only:
  - master
env:
  global:
  - secure: "D5pOPimhhpjEyQPSRtz7K9KOd6x5Y7WdWX0STsJW+KdMQXY2xIeNSxqWt9gEj6IEtO5OYjBLCR+GaF2E/WTve6Y2dO2JxnJbatervRx4Vtdoi0l0tghiPVDUqVoF8eIIXiFGhZemDCw0wknVLkxG12mizTBDrXpagUooq9QGz6s="

before_script:
- npm install
- "npm run-script bower"
# - "export DISPLAY=:99.0"
# - "sh -e /etc/init.d/xvfb start"

script:
- 'npm test'
# - './script/run-e2e.sh > /dev/null '

after_success:
- 'git config --global user.email "robot@health-samurai.io"'
- 'git config --global user.name "Travis CI Deployer"'
- 'if [ -n "$TRAVIS_TAG" ]; then ./script/release.sh; fi'
# - 'if [ "$TRAVIS_BRANCH" = "master" ]; then ./script/release.sh; fi'
# - 'cd .. && git clone --depth=50 --branch=master https://$TOKEN:x-oauth-basic@github.com/formstamp/formstamp.github.io.git'
# - 'cd formstamp && script/deploy-demo.sh edge'
