<div class='fs-select fs-widget-root'>
  <div ng-hide="active" class="fs-select-sel" ng-class="{'btn-group': item}">
      <a class="btn btn-default fs-select-active"
         ng-class='{"btn-danger": invalid}'
         href="javascript:void(0)"
         ng-click="active = true"
         ng-disabled="disabled">
           ::itemTpl &nbsp;
      </a>
      <button type="button"
              class="btn btn-default fs-close"
              aria-hidden="true"
              ng-show='item'
              ng-disabled="disabled"
              ng-click='unselectItem()'></button>
    </div>

  <div class="open" ng-show="active">
    <input class="form-control"
           fs-input
           fs-focus-when='active'
           fs-blur-when='!active'
           fs-on-focus='active = true'
           fs-on-blur='onBlur()'
           fs-hold-focus
           fs-down='move(1)'
           fs-up='move(-1)'
           fs-pg-up='move(-11)'
           fs-pg-down='move(11)'
           fs-enter='onEnter($event)'
           fs-esc='active = false'
           type="text"
           placeholder='Search'
           ng-model="search"
           fs-null-form />

    <div ng-if="active && dropdownItems.length > 0">
      <div fs-list items="dropdownItems">
       ::itemTpl
      </div>
    </div>
  </div>
</div>
