<div class="fs-time fs-widget-root">
  <input
  fs-null-form
  fs-input
  fs-focus-when='active'
  fs-blur-when='!active'
  fs-on-focus='active = true'
  fs-on-blur='onBlur()'
  fs-hold-focus
  fs-time-format
  fs-down='move(1)'
  fs-up='move(-1)'
  fs-pg-up='move(-11)'
  fs-pg-down='move(11)'
  fs-enter='onEnter()'
  fs-esc='active = false'
  ng-model="value"
  class="form-control"
  ng-disabled="disabled"
  type="text"/>

  <span class="glyphicon glyphicon-time" ng-click="active = !disabled"></span>
  <div ng-if='!disabled && active' fs-list items="dropdownItems">
    {{item}}
  </div>
</div>
