<html ng-app='formstamp-test'>
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/build/formstamp.css"/>
    <script type='text/javascript' src='/bower_components/jquery/dist/jquery.js'></script>
    <script type='text/javascript' src='/bower_components/angular/angular.js'></script>
    <script type='text/javascript' src='/build/formstamp.js'></script>
    <script type='text/javascript'>
      angular.module('formstamp-test', ['formstamp']);

      function DateCtrl($scope) {
        $scope.setNow = function() {
          $scope.value = new Date()
        };
      }
    </script>
  </head>
  <body ng-controller='DateCtrl'>
    <h1>fsDate</h1>
    <div fs-date ng-model='value'></div>

    <a href="#" id="setNow" ng-click="setNow()">set now</a>

    <span ng-bind='value' id="value"></span>
    <span ng-bind='value.getHours()' id="hours"></span>
    <span ng-bind='value.getMinutes()' id="minutes"></span>
    <span ng-bind='value.getDate()' id="day"></span>
    <span ng-bind='value.getMonth()' id="month"></span>
    <span ng-bind='value.getFullYear()' id="year"></span>
  </body>
</html>
