<html ng-app='formstamp-test'>
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/build/formstamp.css"/>
    <script type='text/javascript' src='/bower_components/jquery/dist/jquery.js'></script>
    <script type='text/javascript' src='/bower_components/angular/angular.js'></script>
    <script type='text/javascript' src='/build/formstamp.js'></script>
    <script type='text/javascript'>
      angular.module('formstamp-test', ['formstamp']);

      function SelectCtrl($scope) {
        $scope.items = [
          { id: 1, label: "first label" },
          { id: 2, label: "second label" },
          { id: 3, label: "third label" }
        ];

        $scope.freetextItems = ['one', 'two', 'three'];
      }
    </script>
  </head>
  <body ng-controller='SelectCtrl'>
    <div fs-select ng-model='value' items='items' class='first-select'>{{item.label}}</div>
    <span ng-bind='value.id' id='valueId'></span>
    <span ng-bind='value.label' id='valueLabel'></span>

    <div fs-select freetext ng-model='freetextValue' class='second-select' items='freetextItems'>{{item}}</div>
    <span ng-bind='freetextValue' id='ftValue'></span>
  </body>
</html>
