ex
<html ng-app='formstamp-test'>
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/build/formstamp.css"/>
    <script type='text/javascript' src='/bower_components/jquery/dist/jquery.js'></script>
    <script type='text/javascript' src='/bower_components/angular/angular.js'></script>
    <script type='text/javascript' src='/build/formstamp.js'></script>
    <script type='text/javascript'>
      angular.module('formstamp-test', ['formstamp']);
    </script>
  </head>
  <body>
    <div fs-time-format ng-model='value'></div>
    <span ng-bind='value'></span>
  </body>
</html>
