<html ng-app='formstamp-test'>
  <head> <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/formstamp.css"/>
    <script type='text/javascript' src='/bower_components/jquery/dist/jquery.js'></script>
    <script type='text/javascript' src='/bower_components/angular/angular.js'></script>
    <script type='text/javascript' src='/formstamp.js'></script>
    <script type='text/javascript'>
      var app = angular.module('formstamp-test', ['formstamp']);

      app.controller('TimeCtrl', function ($scope) {
        $scope.disabled = false;
      });
    </script>
  </head>
  <body ng-controller='TimeCtrl'>
    <h1>fsTime</h1>
    <input type='text' id='x' />
    <div fs-time ng-model='value' ng-disabled='disabled'></div>

    <a href="#" ng-click="disabled = !disabled" id="disable">disable</a>
    <div id='value' ng-bind='value'></div>
  </body>
</html>
