<pre markdown>
## Directive `fs-radio`

This directive creates a set of radio buttons.
List of available choices is passed via items attribute and can be
an Array of Objects, Strings, Numbers, etc.
`fsRadio` supports custom templating for item's label.

Supported attributes:

* items - property of scope containing list of available values (of strings for autocomplete, if freetext is enabled)
* ng-model - see AngularJS documentation for ngModel directive
* ng-disabled - disable/enable input with scope property
* class - additional CSS classes
</pre>
<pre sample>
  <fs-form-for>
    <div class="form-group">
      <label class="col-xs-2 control-label">Choose your katawari</label>
      <div class="col-xs-3">
        <div fs-radio
             items="items"
             ng-disabled="disabled"
             ng-model="radiovalue">
          <b>{{item.id}}</b> {{item.label}}
        </div>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label">Choose your katawari</label>
      <div class="col-xs-3">
        <div fs-radio
             items="items"
             ng-model="radiovalue">
          {{item.label}}
        </div>
      </div>
    </div>
<fs-row label="Result"><pre>Selected value: {{ radiovalue | json }}</pre></fs-row>

<hr/>

<div class="form-group">
  <label class="col-xs-2 control-label">Your meal</label>
  <div class="col-xs-3">
    <div fs-radio
      items="sushi"
      ng-disabled="disabled"
      ng-model="value">
      <img ng-src="{{item.src}}"
      width="24"
      height="24" alt="{{item.label}}" /> {{item.label}}
    </div>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-default" ng-click="disabled=!disabled">
      {{disabled ? 'Enable' : 'Disable'}}
    </button>
  </div>
</div>
<fs-row label="Result"><pre>Selected dish: {{ value | json }}</pre></fs-row>
  </fs-form-for>
</pre>
