<pre markdown>
## Directive `fs-select`

### Warning!

  You should never use this directive on
  `input` tag.  Use `div` instead.


This directive creates a 'select' widget.
This widget provides default select-like behavior.
Depending on freetext attribute,
it allows to select item from predefined list or enter custom value.
In both cases, text input field is used as a search box.
Items and selected value can be objects, strings or integers.

Supports several Angular directives:
`ngModel`, `ngDisabled`, `ngRequired`.
You can provide template for single item in list to display any information you need,
not only label text.
In ngModel it holds full object, not only value.

Supported attributes:

* items - property of scope containing list of available values (of strings for autocomplete, if freetext is enabled)
* ng-model - see AngularJS documentation for [ngModel](http://docs.angularjs.org/api/ng/directive/ngModel) directive
* ng-disabled - disable/enable input with scope property
* class - additional CSS classes
</pre>

<div sample label="Two fsSelects binded to one model">
  <script type="text/javascript">
   app.controller('SelectExampleCtrl', ['$scope', '$q', '$http', function ($scope, $q, $http) {
     $scope.disabled = false;

     $scope.items = [
       {id: 'S', label: 'Shijima'},
       {id: 'M', label: 'Musubi'},
       {id: 'Y', label: 'Yosuga'}
     ];

     $scope.countries = countries;
     $scope.laughs = ['Ha-ha-ha', 'Ho-ho-ho', 'He-he-he'];

     $scope.wikipediaArticles = function(lookupText) {
       if (typeof lookupText == 'undefined' || lookupText == null || lookupText == '') {
         return [];
       } else {
         console.log("Searching Wikipedia for", lookupText);

         return $q(function(resolve, reject) {
           var url = 'http://en.wikipedia.org/w/api.php?action=opensearch&search=' +
                     lookupText +
                     '&limit=40&format=json&callback=JSON_CALLBACK';

           var http = $http.jsonp(url);

           http = http.success(function(data) {
             var result = [];
             var i = 0;

             for(i = 0; i < data[1].length; i++) {
               result.push({label: data[1][i], desc: data[2][i], url: data[3][i]});
             }

             resolve(result);
           });

           http = http.error(function(data) {
             reject([]);
           });

           return http;
         });
       };
     };
   }]);
  </script>

  <form fs-form-for role="form" class="form-horizontal" ng-controller="SelectExampleCtrl">
    <fs-row label="Select weapon">
      <div class="col-xs-3">
        <div fs-select
             items='items'
             ng-disabled="disabled"
             ng-model="svalue">
          <span ng-show="item"> <b>{{item.id}}</b> {{item.label}} </span>
          <span ng-hide="item"> Any weapon </span>
        </div>
      </div>
      <div class="col-xs-3">
        <div fs-select
             items='items'
             ng-disabled="disabled"
             ng-model="svalue">
          <span ng-show="item"> {{item.label}} </span>
          <span ng-hide="item"> Any weapon </span>
        </div>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
    </fs-row>

    <fs-row label="Result">
      <pre>Selected value: {{ svalue }}</pre>
    </fs-row>

    <hr/>

    <fs-row label="Select country">
      <div class="col-xs-4">
        <div fs-select
             items='countries'
             ng-model="country">
          <span ng-show="item"><span class="flag flag-{{ item['alpha-2'].toLowerCase() }}"></span>&nbsp;{{item.name}}</span>
          <span ng-hide="item"> No country </span>
        </div>
      </div>
    </fs-row>

    <fs-row label="Result">
      <pre>Selected country is: {{ country }}</pre>
    </fs-row>

    <hr/>

    <fs-row label="Combo">
      <div class="col-xs-4">
        <div fs-select
             freetext="true"
             items="laughs"
             ng-disabled="disabled"
             ng-model="laugh">
          {{item}}
        </div>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-default" ng-click="disabled = !disabled">{{disabled ? 'Enable' : 'Disable'}}</button>
      </div>
    </fs-row>

    <fs-row label="Result">
      <pre>Your laugh is like: {{ laugh || '...' }}</pre>
    </fs-row>

    <hr/>

    <fs-row label="items as function">
      <div class="col-xs-4">
        <div fs-select
             freetext="true"
             items="wikipediaArticles"
             ng-model="article">
          {{item.label}}
        </div>
      </div>
    </fs-row>

    <fs-row label="Selected Wikipedia article">
      <pre>{{article | json}}</pre>
    </fs-row>
  </form>
</div>
