<h1>Checkboxes</h1>

<div class='directive-header'>
  <h3>
    <a href="https://github.com/formstamp/formstamp/blob/master/src/fs/fsCheckbox.coffee"
       title="View source on GitHub"
       class="btn btn-link">
      <big class="fa fa-github"></big>
    </a>
    Directive <code class="ng-binding">fsCheckbox</code>
  </h3>
</div>
<p>
  This directive creates a set of checkboxes. List of available
  choices is passed via <var>items</var> attribute and can be an Array
  of Objects, Strings, Numbers, etc. User can select multiple
  items. <code class="ng-binding">fsCheckbox</code> supports custom
  templating for item's label. Supported attributes:
</p>
<ul>
  <li>
    <var>items</var> - property of scope containing list of
    available values (of strings for autocomplete,
    if <var>freetext</var> is enabled)
  </li>
  <li>
    <var>ng-model</var> - see AngularJS documentation
    for <a href="http://docs.angularjs.org/api/ng/directive/ngModel">ngModel</a> directive
  </li>
  <li>
    <var>ng-disabled</var> - disable/enable input with scope property
  </li>
  <li>
    <var>class</var> - additional CSS classes
  </li>
</ul>
<sample>
<form class="form-horizontal" role="form" ng-controller='CheckboxesCtrl'>
    <div class="form-group">
      <label class="col-xs-2 control-label">Choose your katawari</label>
      <div class="col-xs-3">
        <div fs-checkbox
             items="items"
             ng-disabled="disabled"
             ng-model="value">
          <div>
            <b>{{item.id}}</b> {{item.label}}
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label">Choose your katawari</label>
      <div class="col-xs-3">
        <div fs-checkbox
             items="items"
             ng-model="value">
          {{item.label}}
        </div>
      </div>
    </div>
    <pre>Selected value: {{ value | json }}</pre>
  </form>
  <script>
    function CheckboxesCtrl($scope) {
      $scope.items = [
        {id: 'S', label: 'Shijima'},
        {id: 'M', label: 'Musubi'},
        {id: 'Y', label: 'Yosuga'}
      ];
    }
  </script>
</sample>
