<div class="container">
  <h1>Combo</h1>
  <div class="alert alert-warning">
    <strong>Warning!</strong> You should never use this and next directives on <code>input</code> tag.
    Use <code>div</code> instead.
  </div>
  <h5>Directive: <code class="ng-binding">w-chz</code> with option <code>freetext</code></h5>
  <p>
  This input provides default select-like behavior.
  It allows to select only one item from predefined list or none of them.
  Supports several angular directives: <code>ng-model</code>,
  <code>ng-disabled</code>, <code>ng-required</code>.
  In <code>ng-model</code> it holds full object,
  not only value.
  </p>
  <hr/>
  <sample>
<form class="well" role="form" ng-controller="ComboCtrl">
  <div class="form-group">
    <label>Choose your element</label>
    <div w-chz
      freetext="true"
      items="items"
      ng-model="element">
      {{item}}
    </div>
  </div>
  <div class="form-group">
    <label>Choose your element</label>
    <div w-chz
      freetext="true"
      items="items"
      ng-model="element">
      {{item}}
    </div>
  </div>
</form>
<pre>
  Your element is: {{ element || 'none' }}
</pre>
<script>
   function ComboCtrl($scope) {
     $scope.items = ['haha', 'hoho', 'hihi', 'hehe']
   }
</script>
  </sample>
</div>

