<h1>Date/Time pickers</h1>

<p>
  A set of directives for entering date, time or both.
</p>

<div class='directive-header'>
  <h3>
    <a href="https://github.com/formstamp/formstamp/blob/master/src/fs/fsDate.coffee"
       title="View source on GitHub"
       class="btn btn-link">
      <big class="fa fa-github"></big>
    </a>
    Directive <code class="ng-binding">fsDate</code>
  </h3>
</div>
<p>
  This directive creates a datepicker widget with dropdown calendar.
  This directive expects that scope property specified
  in <var>ngModel</var> will be a Date, and will modify only
  year/month/day components of this Date, time will remain unchanged.
  Supported attributes:
</p>
<ul>
  <li>
    <var>ng-model</var> - see AngularJS documentation
    for <a href="http://docs.angularjs.org/api/ng/directive/ngModel">ngModel</a> directive
  </li>
  <li>
    <var>ng-disabled</var> - disable/enable input with scope property
  </li>
  <li>
    <var>class</var> - additional CSS classes
  </li>
</ul>

<sample label="fsDate example">
  <div ng-controller='DatePickerCtrl' class="form-horizontal">
    <div class="form-group row">
      <label class="col-xs-3 control-label">Choose convenient seppuku date</label>
      <div class="col-xs-2">
        <div fs-date ng-model="selectedDate" ng-disabled="disabled"></div>
      </div>
      <div class="col-xs-2 col-xs-offset-3">
        <button class="btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
    </div>

    <pre>Seppuku date: {{ selectedDate.toString() }}</pre>
  </div>

  <script>
    function DatePickerCtrl ($scope) {
      $scope.selectedDate = new Date();
      $scope.disabled = false;
    };
  </script>
</sample>

<div class='directive-header'>
  <h3>
    <a href="https://github.com/formstamp/formstamp/blob/master/src/fs/fsTime.coffee"
       title="View source on GitHub"
       class="btn btn-link">
      <big class="fa fa-github"></big>
    </a>
    Directive <code class="ng-binding">fsTime</code>
  </h3>
</div>
<p>
  This directive creates a time-input widget. This directive expects
  that scope property specified in <var>ngModel</var> will be a Date,
  and will modify only hours/minutes/seconds components of this Date,
  year/month/day will remain unchanged. Supported attributes:
</p>
<ul>
  <li>
    <var>ng-model</var> - see AngularJS documentation
    for <a href="http://docs.angularjs.org/api/ng/directive/ngModel">ngModel</a> directive
  </li>
  <li>
    <var>ng-disabled</var> - disable/enable input with scope property
  </li>
  <li>
    <var>class</var> - additional CSS classes
  </li>
</ul>
<sample label="fsTime example">
  <form class="form-horizontal" role="form" ng-controller="TimeCtrl">
    <div class='form-group row'>
      <label class="col-xs-3 control-label">Select appointment time</label>
      <div class="col-xs-2">
        <div fs-time
             ng-disabled="disabled"
             ng-model="svalue"></div>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-default" ng-click="setTime('21:52')">
          21:52
        </button>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-default" ng-click="setTime('19:22')">
          19:22
        </button>
      </div>
      <div class="col-xs-2 col-xs-offset-1">
        <button class="btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
    </div>
    <pre>Time is: {{ svalue | json }}</pre>
  </form>

  <script>
    function TimeCtrl($scope) {
      now = new Date()
      $scope.svalue = {
        hours: now.getHours(),
        minutes: now.getMinutes()
      };
      $scope.disabled = false;

      $scope.setTime = function(str){
        var parts = str.split(':');
        $scope.svalue = {
          hours: parts[0],
          minutes: parts[1]
        }
      };
    }
  </script>
</sample>

<div class='directive-header'>
  <h3>
    <a href="https://github.com/formstamp/formstamp/blob/master/src/fs/fsDatetime.coffee"
       title="View source on GitHub"
       class="btn btn-link">
      <big class="fa fa-github"></big>
    </a>
    Directive <code class="ng-binding">fsDatetime</code>
  </h3>
</div>
<p>
  Widget combining both <code>fsTime</code> and <code>fsDate</code>.
  Allows to enter both Date components.
</p>
<ul>
  <li>
    <var>ng-model</var> - see AngularJS documentation
    for <a href="http://docs.angularjs.org/api/ng/directive/ngModel">ngModel</a> directive
  </li>
  <li>
    <var>ng-disabled</var> - disable/enable input with scope property
  </li>
  <li>
    <var>class</var> - additional CSS classes
  </li>
</ul>
<sample label="fsDatetime example">
  <div ng-controller='DateTimePickerCtrl' class="form-horizontal">
    <div class="form-group row">
      <label class="col-xs-3 control-label">DateTime</label>
      <div class="col-xs-3">
        <div fs-datetime ng-model="selectedDateTime" ng-disabled="disabled"></div>
      </div>
      <div class="col-xs-3 col-xs-offset-2">
        <button class="btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
    </div>

    <pre>Entered datetime: {{ selectedDateTime.toString() }}</pre>
  </div>

  <script>
    function DateTimePickerCtrl ($scope) {
      $scope.disabled = false;
      $scope.selectedDateTime = new Date()
    };
  </script>
</sample>

<div class='directive-header'>
  <h3>
    <a href="https://github.com/formstamp/formstamp/blob/master/src/fs/fsCalendar.coffee"
       title="View source on GitHub"
       class="btn btn-link">
      <big class="fa fa-github"></big>
    </a>
    Directive <code class="ng-binding">fsCalendar</code>
  </h3>
</div>
<p>
  This directive creates calendar and allows to select date.
</p>
<sample label="fsCalendar example">
  <div ng-controller='CalendarCtrl'>
    <div class='well'>
      <fs-calendar ng-model="selectedDate" />
    </div>

    <pre>Selected date: {{ selectedDate.toString() }}</pre>
  </div>

  <script>
    function CalendarCtrl ($scope) {
      $scope.selectedDate = new Date();
    };
  </script>
</sample>
