<div class="container">
  <h1>DatePicker and Calendar</h1>
  <div class="alert alert-warning">
    Some meaningless alert!
  </div>

  <h5>Directive: <code class="ng-binding">fs-calendar</code>.</h5>
  <sample>
    <div class='well' ng-controller='CalendarCtrl'>
      <pre>Selected date: {{ selectedDate | json }}</pre>

      <fs-calendar ng-model="selectedDate" />
    </div>

    <script>
      function CalendarCtrl ($scope) {
        $scope.selectedDate = new Date();
      };
    </script>
  </sample>

  <h5>Directive: <code class="ng-binding">fs-datepicker</code>.</h5>
  <sample>
    <div ng-controller='DatePickerCtrl' class="well">
      <div class="form-group row">
        <label class="col-xs-3">Choose convenient seppuku date</label>
        <div fs-datepicker ng-model="selectedDate" class="col-xs-2"></div>
      </div>

      <pre>Seppuku date: {{ selectedDate }}</pre>
    </div>

    <script>
      function DatePickerCtrl ($scope) {
        $scope.selectedDate = new Date();
      };
    </script>
  </sample>
</div>
