<h1>Form Builder</h1>

<h3></h3>
<div class='directive-header'>
  <h3>
    <a href="https://github.com/formstamp/formstamp/blob/master/src/fs/fsFormFor.coffee"
       title="View source on GitHub"
       class="btn btn-link">
      <big class="fa fa-github"></big>
    </a>
    Directive <code class="ng-binding">fsFormFor</code>
  </h3>
</div>
<p>
  This directive allows to construct complex horizontal forms with
  easy DSL-like markup. Used primarily for asynchronous submits. For
  synchronous use see <code class="ng-binding">fsSyncFormFor</code>.
</p>
<p>
  Each form row is described
  with <code class="ng-binding">fsInput</code> directive. It has
  following attributes:
</p>
<ul>
  <li><var>as</var> - specifies type of input</li>
  <li><var>label</var> - specifies label text</li>
  <li>
    <var>name</var> - specifies model's
    attribute to which input will be bound
  </li>
  <li>
    Other attributes (like <var>items</var>)
    are directly passed into input directive.
  </li>
</ul>

<sample>
  <div ng-controller="FormBuilderCtrl">
    <fs-form-for model="samurai">
      <fieldset class='form-horizontal'>
        <legend>Samurai Personal Info</legend>
        <fs-input as="text" name="name" required label="Name"></fs-input>
        <fs-input as="email" name="email" required label="Email"></fs-input>
        <fs-input as="fs-datetime" name="birthdate" required
                  label="Date of Birth"></fs-input>

        <fs-row label="Living district">
          <div class="row">
            <div class="col-xs-3"><div fs-select ng-model="samurai.district" items="districts">{{ item }}</div></div>
            <div class="col-xs-3"><div fs-date ng-model="samurai.districtMoveDate" placeholder="Settled date"></div></div>
          </div>
        </fs-row>
      </fieldset>

      <fieldset class='form-horizontal'>
        <legend>Samurai CV</legend>

        <fs-input as="fs-radio"
                  name="learningStage"
                  label="Current Learning Stage"
                  items="learningStages"></fs-input>

        <fs-input as="fs-multiselect"
                  name="weapons"
                  label="Owned Weapons"
                  items="weapons">{{ item.label }}</fs-input>

        <fs-input as="fs-multiselect"
                  name="weaponStyles"
                  freetext='123'
                  label="Weapon Styles"
                  items="weaponStyles">{{ item }}</fs-input>

        <fs-input as="fs-select"
                  name="meal"
                  label="Preferable Food"
                  items="meals"><b>{{ item.id.toUpperCase() }}</b> {{ item.label }}</fs-input>

        <fs-input as="fs-checkbox"
                  name="otherFacts"
                  label="Other Facts"
                  items="otherFacts">{{ item }}</fs-input>

      </fieldset>
    </fs-form-for>

    <h4>Angular Scope</h4>
    <pre>samurai = {{samurai | json}}</pre>
  </div>

  <script>
    function FormBuilderCtrl($scope){
      $scope.samurai = {
        name: "Unnamed",
        districts: []
      };

      $scope.learningStages = [
        {id: 'S', label: 'Shu'},
        {id: 'H', label: 'Ha'},
        {id: 'R', label: 'Ri'}
      ];

      $scope.weapons = [
        {id: '1', label: 'Katana'},
        {id: '2', label: 'Naginata'},
        {id: '3', label: 'Yari'},
        {id: '4', label: 'Horagai'},
        {id: '5', label: 'Horimono'}
      ];

      $scope.meals = [
        {id: 'me', label: 'Meat'},
        {id: 'mi', label: 'Milk'},
        {id: 'or', label: 'Orange'},
        {id: 'ri', label: 'Rice'}
      ];

      $scope.otherFacts = [
        'Uruwashii', 'Buke', 'Mononofu', 'Musha', 'Rōnin', 'Shi', 'Tsuwamono'
      ];

      $scope.weaponStyles = ['Kenjutsu', 'Naginatajutsu', 'Sōjutsu'];

      $scope.districts = [
      'Kita District',
        'Tsugaru District',
        'Hei District',
        'Iwai District',
        'Akita District',
        'Tagawa District',
        'Murayama District',
        'Okitama District',
        'Aizu District',
        'Shirakawa District',
        'Ibaraki District',
        'Tsuga District',
        'Habu District',
        'Sōma District',
        'Katsushika District',
        'Saitama District',
        'Adachi District',
        'Toshima District',
        'Tama District',
        'Kanbara District',
        'Uonuma District',
        'Kubiki District',
        'Niikawa District',
        'Tsuru District',
        'Yamanashi District',
        'Yatsushiro District',
        'Koma District',
        'Saku District',
        'Takai District',
        'Minochi District',
        'Ina District',
        'Chikuma District',
        'Azumi District',
        'Ishizu District',
        'Shitara District',
        'Kamo District',
        'Kasugai District',
        'Muro District',
        'Azai District',
        'Kuwata District',
        'Ukena District',
        'Uwa District',
        'Matsuura District',
        'Sonogi District',
        'Takaki District',
        'Kunisaki District',
        'Amabe District',
        'Usuki District',
        'Naka District',
        'Ōsumi District',
        'Soo District',
        'Isa District'
      ];
    }
  </script>
</sample>

<div class='directive-header'>
  <h3>
    <a href="https://github.com/formstamp/formstamp/blob/master/src/fs/fsFormFor.coffee"
       title="View source on GitHub"
       class="btn btn-link">
      <big class="fa fa-github"></big>
    </a>
    Directive <code class="ng-binding">fsSyncFormFor</code>
  </h3>
</div>
<p>
  This directive is similar with <var>fsFormFor</var>.
  It's intended to use where synchronous form submit is needed.
  It is serialize entire form object to the json to <var>_json</var>
  hidden input.
  <ul>
    <li>
      <var>sync-attr</var>
      - Used for customizing name of hidden field. Default: <var>_json</var>.
    </li>
  </ul>
</p>
