<div class="container">
  <h1>Form Builder</h1>
  <div class="alert alert-warning">
    <strong>Warning!</strong> You should never use this and next directives on <code>input</code> tag.
    Use <code>div</code> instead.
  </div>
  <h5>Directive: <code class="ng-binding">fs-select</code></h5>
  <p>
  <ul>
    <li> Form markup </li>
    <li> Errors </li>
    <li> Label-Input: required, for </li>
    <li> fill form and collect </li>
  </ul>
  </p>
  <hr/>

  <sample>
  <div ng-controller="MyFormCtrl">
    <form novalidate class="form-horizontal" name="f">
      <div class="form-group" ng-class="{'has-error': (f.name.$dirty && f.name.$invalid)}">
        <label for="input1" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input id="input1" ng-model="user.name" name="name" required class="form-control"/>
          <!-- <p> dirty: {{f.name.$dirty}}; errors:{{f.name.$error}}</p> -->
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': (f.email.$dirty && f.email.$invalid)}">
        <label for="input1" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input ng-model="user.email" name="email" type="email" required class="form-control"/>
          <p class="text-danger" ng-show="f.email.$dirty && f.email.$invalid">Invalid:
            <span ng-show="f.email.$error.required">Tell us your email.</span>
            <span ng-show="f.email.$error.email">This is not a valid email.</span>
          </p>
          <!-- <pre> dirty: {{f.email.$dirty}}; errors:{{f.email.$error}}</pre> -->
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': (f.bithdate.$dirty && f.bithdate.$invalid)}">
        <label for="input1" class="col-sm-2 control-label">Bith Date</label>
        <div class="col-sm-10">
          <div ng-model="user.bithdate" name="bithdate" fs-datetimepicker required></div>
          <p class="text-danger" ng-show="f.bithdate.$dirty && f.bithdate.$invalid">Invalid:
            <span ng-show="f.bithdate.$error.required">Tell us your email.</span>
          </p>
          <!-- <pre> dirty: {{f.bithdate.$dirty}}; errors:{{f.bithdate.$error}}</pre> -->
        </div>
      </div>
      <pre> Form valid: {{ f.$valid }} </pre>
    </form>
  </div>
  <script>
function MyFormCtrl($scope){
  $scope.user = {}
}
  </script>
  </sample>
  <!-- <sample> -->
  <!-- <form name='form' ng-controller="FormBuilderCtrl" fs-form-for='samurai' fs-submit='send()'> -->
  <!--   <div fs-field='name' -->
  <!--        type='fs-select' -->
  <!--        freetext -->
  <!--        items='names' -->
  <!--        label='Name'></div> -->

  <!--   <div fs-form-row label="blah"> -->
  <!--     <div fs-select items="items" ng-model="samurai.name"></div> -->
  <!--     <input/> -->
  <!--   </div> -->

  <!--   <div fs-field='age' -->
  <!--        type='fs-select' -->
  <!--        items='ages' -->
  <!--        label='Age'></div> -->

  <!--   <div fs-field='stage' -->
  <!--        type='fs-radio' -->
  <!--        items='stages' -->
  <!--        label='Learning Stage'></div> -->

  <!--   <div fs-field='likesToEat' -->
  <!--        type='fs-checkbox' -->
  <!--        items='meals' -->
  <!--        label='Likes to eat'></div> -->

  <!--   <div fs-field='weapons' -->
  <!--        type='fs-multiselect' -->
  <!--        items='weapons' -->
  <!--        label='Weapons'></div> -->

  <!--   <div fs-field='styles' -->
  <!--        type='fs-multiselect' -->
  <!--        freetext -->
  <!--        items='weaponStyles' -->
  <!--        label='Styles'></div> -->

  <!--   <div fs-submit-field>Save</div> -->
  <!-- </form> -->
  <!-- <script> -->
  <!-- function FormBuilderCtrl($scope){ -->
  <!--   $scope.samurai = {}; -->
  <!--   $scope.ronin = {}; -->
  <!--   $scope.stages = [ -->
  <!--     {id: 'S', label: 'Shu'}, -->
  <!--     {id: 'H', label: 'Ha'}, -->
  <!--     {id: 'R', label: 'Ri'} -->
  <!--   ]; -->
  <!--   $scope.names = ["Joe", "Sue", "Sam"]; -->
  <!--   $scope.ages = [] -->
  <!--   for (var age = 0; age < 100; age++) { -->
  <!--     $scope.ages.push({ -->
  <!--       id: age, -->
  <!--       label: age -->
  <!--     }); -->
  <!--   } -->

  <!--   $scope.meals = [ -->
  <!--     {id: 'meat', label: 'meat'}, -->
  <!--     {id: 'milk', label: 'milk'}, -->
  <!--     {id: 'orange', label: 'orange'} -->
  <!--   ]; -->
  <!--   $scope.weapons = [ -->
  <!--     {id: '1', label: 'Katana'}, -->
  <!--     {id: '2', label: 'Naginata'}, -->
  <!--     {id: '3', label: 'Yari'} -->
  <!--   ]; -->

  <!--   $scope.weaponStyles = ['Kenjutsu', 'Naginatajutsu', 'Sōjutsu']; -->

  <!--   $scope.provinces = [ -->
  <!--     {id: 1, label: 'Yamashiro'}, -->
  <!--     {id: 2, label: 'Yamato'}, -->
  <!--     {id: 3, label: 'Kowachi'} -->
  <!--   ]; -->

  <!--   $scope.send = function() { -->
  <!--     var res = $http.post('/').success(function(data) { -->
  <!--       angular.copy(data, $scope.samurai); -->
  <!--     }); -->
  <!--   } -->
  <!-- } -->
  <!-- </script> -->
  <!-- </sample> -->
</div>
