<div class="container">

<h3>fsInput Directive</h3>
<sample>
<div class='fs-widget-root' ng-controller="InputDirectiveCtrl" ng-mousedown="foo($event)" >
  <input type="text" id="foo"
  fs-input="123"
  fs-focus-when='active'
  fs-hold-focus='true'
  fs-on-blur='active = false'
  ng-model='inputValue' />

  <button ng-click="setInputValue()" tabindex='-1'>Set input value</button>
  <button ng-click="setInputActive()" tabindex='-1'>Set input focus</button>
  <input type='text' ng-click="setInputValue()"  tabindex='-1'/>
  <a href="javascript:void(0)" ng-click="setInputValue()" tabindex='-1'>LINK</a>

  <pre style="margin-top: 20px">
Active: {{ active }}
Input value: {{ inputValue }}
  </pre>
</div>
<script type="text/javascript">
angular.module('app', ['formstamp'], function() { });

function InputDirectiveCtrl($scope) {
  $scope.active = false;

  $scope.foo = function(e) {
    if (!$(e.target).attr('fs-input')) {
      e.preventDefault();
      return false;
    }
  }

  $scope.setInputValue = function() { $scope.inputValue = "bar" };
  $scope.setInputActive = function() { $scope.active = true };
};
</script>
</sample>

</div>
