<div class="container">
  <h1>Internal directive fsList</h1>
  <h3>Directive <code class="ng-binding">fs-list</code></h3>
  <p>
    This directive renders a list of items, with one of them marked as
    selected. It provides interface for moving selection up or down.
    This directive is used in <code class="ng-binding">fsSelect</code>
    and <code class="ng-binding">fsMultiselect</code> to create dropdowns.
  </p>
  <p>
    This directive doesn't use <code class="ng-binding">ngModel</code>
    to set selected value in scope. Instead, you should create
    special <code>listInterface</code> property in your scope and
    implement <var>onSelect</var> callback function:
  </p>

  <pre>
$scope.listInterface = {
  onSelect: function(selectedItem) {
    $scope.selectedItem = selectedItem;
  }
};</pre>

  <p>
    You can call <code>scope.listInteface.move()</code> function from
    your controller to move list's selection up or down.
  </p>

  <p>
    Supported attributes:
  </p>

  <ul>
    <li><var>items</var> - list of items to display</li>
    <li><var>class</var> - additional CSS classes for list</li>
  </ul>

  <sample label="fsList with custom templating and data from SoundCloud">
    <div ng-controller="ListDemoCtrl" style="postion: relative;">
      <div class="row">
        <div class="col-xs-7">
          <input class='form-control' autofocus="1" fs-input fs-up='move(-1)' fs-down='move(1)' fs-enter='select()' ng-model='search' />
          <div fs-list items='tracks' class="no-popup">
            <img src="{{ item.artwork_url }}" width="30" height="30" />
            {{item.title}} <small class="text-muted">{{item.genre}}</small>
          </div>
          <div class="alert alert-success" style="margin-top: 20px;">
            <strong>NB:</strong> you can navigate through list
            using <kbd>Up</kbd> and <kbd>Down</kbd> arrows and select
            track with <kbd>Enter</kbd> key.
          </div>
        </div>
        <div class="col-xs-5">
          <demo-audio track="selectedTrack"></demo-audio>
          <pre style="margin-top: 20px;">Selected Item: {{ selectedTrack | json }}</pre>
        </div>
      </div>
    </div>

    <script>
      function ListDemoCtrl($scope) {
        SC.initialize({
          client_id: '8399f2e0577e0acb4eee4d65d6c6cce6'
        });

        $scope.$watch('search', function () {
          SC.get('/tracks',
                 { q: $scope.search, license: 'cc-by-sa' },
                 function(tracks) {
                   $scope.$apply(function() { $scope.tracks = tracks })
                 })
        });

        $scope.search = 'bach';
        $scope.tracks = [];

        $scope.move = function (d) {
          $scope.listInterface.move(d);
        };

        $scope.listInterface = {
          onSelect: function () {
            $scope.select()
          }
        };

        $scope.select = function() {
          $scope.selectedTrack = $scope.listInterface.selectedItem;
        };
      }
    </script>
  </sample>
</div>
