<div class="container">
  <h1>Radio Group</h1>
  <div class="alert alert-warning">
  </div>
  <h5>Directive: <code class="ng-binding">fs-select-group</code></h5>
  <sample>
<form class="well row" role="form" ng-controller='RadioCtrl'>
  <button class="btn btn-default" ng-click="disabled=!disabled">
    {{disabled ? 'Enable' : 'Disable'}}
  </button>
  <div class="row">
    <div class="form-group col-xs-5">
      <label>Choose your katawari</label>
      <div fs-radio
           items="items"
           ng-disabled = "disabled"
           ng-model="radiovalue">
           <b>{{item.id}}</b> {{item.label}}
      </div>
    </div>
    <div class="form-group col-xs-5">
      <label>Choose your katawari</label>
      <div fs-radio
           items="items"
           ng-model="radiovalue">
           {{item.label}}
      </div>
    </div>
  </div>
  <pre>
    selected value: {{ radiovalue | json }}
  </pre>
</form>
<script>
   function RadioCtrl($scope) {
     $scope.items = [
        {id: 'S', label: 'Shijima'},
        {id: 'M', label: 'Musubi'},
        {id: 'Y', label: 'Yosuga'}
     ]
   }
</script>
  </sample>
</div>

