<h1>Radio Group</h1>
<h3>Directive <code class="ng-binding">fsRadio</code></h3>
<p>
  This directive creates a set of radio buttons. List of available
  choices is passed via <var>items</var> attribute and can be an Array
  of Objects, Strings, Numbers,
  etc. <code class="ng-binding">fsRadio</code> supports custom
  templating for item's label. Supported attributes:
</p>
<ul>
  <li>
    <var>items</var> - property of scope containing list of
    available values (of strings for autocomplete,
    if <var>freetext</var> is enabled)
  </li>
  <li>
    <var>ng-model</var> - see AngularJS documentation
    for <a href="http://docs.angularjs.org/api/ng/directive/ngModel">ngModel</a> directive
  </li>
  <li>
    <var>ng-disabled</var> - disable/enable input with scope property
  </li>
  <li>
    <var>class</var> - additional CSS classes
  </li>
</ul>
<sample>
  <form class="form-horizontal" role="form" ng-controller='RadioCtrl'>
    <div class="form-group">
      <label class="col-xs-2 control-label">Choose your katawari</label>
      <div class="col-xs-3">
        <div fs-radio
             items="items"
             ng-disabled="disabled"
             ng-model="radiovalue">
          <b>{{item.id}}</b> {{item.label}}
        </div>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label">Choose your katawari</label>
      <div class="col-xs-3">
        <div fs-radio
             items="items"
             ng-model="radiovalue">
          {{item.label}}
        </div>
      </div>
    </div>
    <pre>Selected value: {{ radiovalue | json }}</pre>
  </form>

  <script>
    function RadioCtrl($scope) {
      $scope.items = [
        {id: 'S', label: 'Shijima'},
        {id: 'M', label: 'Musubi'},
        {id: 'Y', label: 'Yosuga'}
      ];
    }
  </script>
</sample>

<sample label="fsRadio with custom template">
  <form class="form-horizontal" role="form" ng-controller='RadioWithTemplateCtrl'>
    <div class="form-group">
      <label class="col-xs-2 control-label">Your meal</label>
      <div class="col-xs-3">
        <div fs-radio
             items="sushi"
             ng-disabled="disabled"
             ng-model="value">
          <img src="/demo/img/sushi-icons/{{item.img}}.gif"
               width="24"
               height="24" alt="{{item.label}}" /> {{item.label}}
        </div>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
    </div>
    <pre>Selected dish: {{ value | json }}</pre>
  </form>

  <script>
    function RadioWithTemplateCtrl($scope) {
      $scope.sushi = [
        {img: 'CaliforniaRoll', label: 'California Roll'},
        {img: 'CucumberRoll', label: 'Cucumber Roll'},
        {img: 'FattyTuna', label: 'Fatty Tuna'},
        {img: 'Inari', label: 'Inari'},
        {img: 'Octopus', label: 'Octopus'},
        {img: 'Shrimp', label: 'Shrimp'}
      ];
    }
  </script>
</sample>
