<h1>Select Widget</h1>

<div class='directive-header'>
  <h3>
    <a href="https://github.com/formstamp/formstamp/blob/master/src/fs/fsSelect.coffee"
       title="View source on GitHub"
       class="btn btn-link">
      <big class="fa fa-github"></big>
    </a>
    Directive <code class="ng-binding">fsSelect</code>
  </h3>
</div>

<div class="alert alert-warning">
  <strong>Warning!</strong> You should never use this directive on <code>input</code> tag.
  Use <code>div</code> instead.
</div>

<p>
  This directive creates a 'select' widget. This widget provides
  default select-like behavior. Depending on <var>freetext</var>
  attribute, it allows to select item from predefined list or enter
  custom value. In both cases, text input field is used as a search
  box. Items and selected value can be objects, strings or integers.
</p>
<p>
  Supports several Angular directives: <code>ngModel</code>,
  <code>ngDisabled</code>, <code>ngRequired</code>. You can provide
  template for single item in list to display any information you
  need, not only label text.
  In <code>ngModel</code> it holds full object, not only value.
</p>
<p>
  Supported attributes:
</p>
<ul>
  <li>
    <var>items</var> - property of scope containing list of
    available values (of strings for autocomplete,
    if <var>freetext</var> is enabled)
  </li>
  <li>
    <var>ng-model</var> - see AngularJS documentation
    for <a href="http://docs.angularjs.org/api/ng/directive/ngModel">ngModel</a> directive
  </li>
  <li>
    <var>ng-disabled</var> - disable/enable input with scope property
  </li>
  <li>
    <var>class</var> - additional CSS classes
  </li>
</ul>

<sample label="Two fsSelects binded to one model">
  <form class="form-horizontal" role="form" ng-controller="SelectCtrl">
    <div class='form-group row'>
      <label class="col-xs-2 control-label">Select weapon</label>
      <div class="col-xs-3">
        <div fs-select
             items='items'
             ng-disabled="disabled"
             ng-model="svalue">
          <span ng-show="item">
              <b>{{item.id}}</b> {{item.label}}
          </span>
          <span ng-hide="item">
              Any weapon
          </span>
        </div>
      </div>
      <div class="col-xs-3">
        <div fs-select
             items='items'
             ng-disabled="disabled"
             ng-model="svalue">
          <span ng-show="item">
              {{item.label}}
          </span>
          <span ng-hide="item">
              Any weapon
          </span>
        </div>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
    </div>
    <pre>Selected value: {{ svalue }}</pre>
  </form>
  <script>
    function SelectCtrl($scope) {
      $scope.disabled = false;

      $scope.items = [
        {id: 'S', label: 'Shijima'},
        {id: 'M', label: 'Musubi'},
        {id: 'Y', label: 'Yosuga'}
      ];
    }
  </script>
</sample>

<sample label="fsSelect with custom item template">
  <form class="form-horizontal" role="form" ng-controller="SelectCountryCtrl">
    <div class='form-group row'>
      <label class="col-xs-2 control-label">Select country</label>
      <div class="col-xs-4">
        <div fs-select
             items='countries'
             ng-model="country">
          <div ng-show="item">
              <div class="flag flag-{{ item['alpha-2'].toLowerCase() }}"></div>
              {{item.name}}
          </div>
          <div ng-hide="item">
              No country
          </div>
        </div>
      </div>
    </div>
    <pre>Selected country is: {{ country }}</pre>
  </form>
  <script>
    function SelectCountryCtrl($scope, $http) {
      $scope.countries = [];

      $http({method: 'GET', url: '/demo/data/countries.json'})
        .success(function(data) {
          $scope.countries = data;
        });
    }
  </script>
</sample>

<sample label="fsSelect with enabled freetext">
  <form class="form-horizontal" role="form" ng-controller="ComboCtrl">
    <div class="form-group">
      <label class="col-xs-2 control-label">Type of your laugh</label>
      <div class="col-xs-4">
        <div fs-select
             freetext="true"
             items="laughs"
             ng-disabled="disabled"
             ng-model="laugh">
          {{item}}
        </div>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-default" ng-click="disabled = !disabled">{{disabled ? 'Enable' : 'Disable'}}</button>
      </div>
    </div>
    <pre>Your laugh is like: {{ laugh || '...' }}</pre>
  </form>
  <script>
    function ComboCtrl($scope) {
      $scope.disabled = false;
      $scope.laughs = ['Ha-ha-ha', 'Ho-ho-ho', 'He-he-he'];
    }
  </script>
</sample>
