<div class="container">
  <h1>Select</h1>
  <div class="alert alert-warning">
    <strong>Warning!</strong> You should never use this and next directives on <code>input</code> tag.
    Use <code>div</code> instead.
  </div>
  <h5>Directive: <code class="ng-binding">fs-select</code></h5>
  <p>
    This input provides default select-like behavior.It allows to select only one item from predefined list
    or none of them. Supports several angular directives: <code>ng-model</code>,
    <code>ng-disabled</code>, <code>ng-required</code>.
    In <code>ng-model</code> it holds full object, not only value.
  </p>
  <hr/>
  <sample>
    <form class="well" role="form" ng-controller="SelectCtrl">
      <div class='form-group row'>
        <label class="col-xs-2">Select weapon:</label>
        <div class="col-xs-3"
          fs-select items='items'
          disabled="disabled"
          ng-model="svalue">
          <b>{{item.id}}</b> {{item.label}}
        </div>
        <div class="col-xs-3 col-xs-offset-1" fs-select items='items' ng-model="svalue">{{item.label}}</div>
        <button class="col-xs-2 col-xs-offset-1 btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
      <pre>
        Your element is: {{ svalue }}
      </pre>
    </form>
    <script>
      function SelectCtrl($scope) {
      $scope.disabled = false
      $scope.items = [
      {id: 'S', label: 'Shijima'},
      {id: 'M', label: 'Musubi'},
      {id: 'Y', label: 'Yosuga'}
      ]
      }
    </script>
</sample>
<sample>
  <form class="well" role="form" ng-controller="SelectCountryCtrl">
    <div class='form-group row'>
      <label class="col-xs-2">Select country:</label>
      <div class="col-xs-4" fs-select items='countries'
           ng-model="country">
        <div class="flag flag-{{ item['alpha-2'].toLowerCase() }}"></div> {{item.name}}
      </div>
    </div>
    <pre>
      Selected country is: {{ country }}
    </pre>
  </form>
  <script>
    function SelectCountryCtrl($scope, $http) {
      $scope.countries = [];

      $http({method: 'GET', url: '/demo/data/countries.json'})
        .success(function(data) {
          $scope.countries = data;
        });
    }
  </script>
</sample>
</div>

