<div class="container">
  <h1>Time</h1>
  <div class="alert alert-warning">
  </div>
  <h5>Directive: <code class="ng-binding">fs-select</code></h5>
  <p>
  </p>
  <hr/>
  <sample>
    <form class="well" role="form" ng-controller="TimeCtrl">
      <div class='form-group row'>
        <label class="col-xs-2">Select weapon:</label>
        <div class="col-xs-3"
          fs-time
          ng-disabled="disabled"
          ng-model="svalue"></div>
        <button class="col-xs-2 col-xs-offset-1 btn btn-default" ng-click="disabled=!disabled">
          {{disabled ? 'Enable' : 'Disable'}}
        </button>
      </div>
      <pre>
        Your element is: {{ svalue }}
      </pre>
    </form>
    <script>
      function TimeCtrl($scope) {
      $scope.disabled = false
      }
    </script>
</sample>
</div>

