.gh-md {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}
.gh-md > *:first-child {
  margin-top: 0 !important;
}
.gh-md > *:last-child {
  margin-bottom: 0 !important;
}
.gh-md a {
  color: #4183C4;
  text-decoration: none;
}
.gh-md a.absent {
  color: #cc0000;
}
.gh-md a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.gh-md h1,
.gh-md h2,
.gh-md h3,
.gh-md h4,
.gh-md h5,
.gh-md h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}
.gh-md h2:first-child,
.gh-md h1:first-child,
.gh-md h1:first-child + h2,
.gh-md h3:first-child,
.gh-md h4:first-child,
.gh-md h5:first-child,
.gh-md h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
.gh-md h1:hover a.anchor,
.gh-md h2:hover a.anchor,
.gh-md h3:hover a.anchor,
.gh-md h4:hover a.anchor,
.gh-md h5:hover a.anchor,
.gh-md h6:hover a.anchor {
  text-decoration: none;
}
.gh-md h1 tt,
.gh-md h1 code {
  font-size: inherit;
}
.gh-md h2 tt,
.gh-md h2 code {
  font-size: inherit;
}
.gh-md h3 tt,
.gh-md h3 code {
  font-size: inherit;
}
.gh-md h4 tt,
.gh-md h4 code {
  font-size: inherit;
}
.gh-md h5 tt,
.gh-md h5 code {
  font-size: inherit;
}
.gh-md h6 tt,
.gh-md h6 code {
  font-size: inherit;
}
.gh-md h1 {
  font-size: 28px;
  color: black;
}
.gh-md h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}
.gh-md h3 {
  font-size: 18px;
}
.gh-md h4 {
  font-size: 16px;
}
.gh-md h5 {
  font-size: 14px;
}
.gh-md h6 {
  color: #777777;
  font-size: 14px;
}
.gh-md p,
.gh-md blockquote,
.gh-md ul,
.gh-md ol,
.gh-md dl,
.gh-md li,
.gh-md table,
.gh-md pre {
  margin: 15px 0;
}
.gh-md hr {
  background: transparent url("http://tinyurl.com/bq5kskr") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0;
}
.gh-md .gh-md > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
.gh-md .gh-md > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
.gh-md .gh-md > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}
.gh-md .gh-md > h3:first-child,
.gh-md .gh-md > h4:first-child,
.gh-md .gh-md > h5:first-child,
.gh-md .gh-md > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
.gh-md a:first-child h1,
.gh-md a:first-child h2,
.gh-md a:first-child h3,
.gh-md a:first-child h4,
.gh-md a:first-child h5,
.gh-md a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
.gh-md h1 p,
.gh-md h2 p,
.gh-md h3 p,
.gh-md h4 p,
.gh-md h5 p,
.gh-md h6 p {
  margin-top: 0;
}
.gh-md li p.first {
  display: inline-block;
}
.gh-md ul,
.gh-md ol {
  padding-left: 30px;
}
.gh-md ul :first-child,
.gh-md ol :first-child {
  margin-top: 0;
}
.gh-md ul :last-child,
.gh-md ol :last-child {
  margin-bottom: 0;
}
.gh-md dl {
  padding: 0;
}
.gh-md dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
.gh-md dl dt:first-child {
  padding: 0;
}
.gh-md dl dt > :first-child {
  margin-top: 0;
}
.gh-md dl dt > :last-child {
  margin-bottom: 0;
}
.gh-md dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
.gh-md dl dd > :first-child {
  margin-top: 0;
}
.gh-md dl dd > :last-child {
  margin-bottom: 0;
}
.gh-md blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}
.gh-md blockquote > :first-child {
  margin-top: 0;
}
.gh-md blockquote > :last-child {
  margin-bottom: 0;
}
.gh-md table {
  padding: 0;
}
.gh-md table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
.gh-md table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.gh-md table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.gh-md table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.gh-md table tr th :first-child,
.gh-md table tr td :first-child {
  margin-top: 0;
}
.gh-md table tr th :last-child,
.gh-md table tr td :last-child {
  margin-bottom: 0;
}
.gh-md img {
  max-width: 100%;
}
.gh-md span.frame {
  display: block;
  overflow: hidden;
}
.gh-md span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}
.gh-md span.frame span img {
  display: block;
  float: left;
}
.gh-md span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}
.gh-md span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.gh-md span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}
.gh-md span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.gh-md span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.gh-md span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}
.gh-md span.align-right span img {
  margin: 0;
  text-align: right;
}
.gh-md span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}
.gh-md span.float-left span {
  margin: 13px 0 0;
}
.gh-md span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}
.gh-md span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}
.gh-md code,
.gh-md tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}
.gh-md pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
.gh-md .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.gh-md pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.gh-md pre code,
.gh-md pre tt {
  background-color: transparent;
  border: none;
}
