/* =Global rules
-----------------------------------------------------------------------------*/
[ng-app].ng-cloak {
  opacity: 0;
}

[ng-app] {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

body{
  min-width: 768px;
}

.navbar.navbar-default {
  border-radius: 0;
  margin-bottom: 0;
}

body > .container {
  margin: 20px auto 40px auto;
}

.jumbotron {
  background: #e74c3c;
  padding: 20px;
}

.jumbotron > .container p {
  color: #fff;
}

.jumbotron > .container .buttons {
  margin-top: 40px;
}

.jumbotron > .container .buttons big {
  font-size: 140%;
  margin-right: 15px;
  vertical-align: -0.1em;
}

.jumbotron > .container h1 {
  color: #fff;
  font-weight: bold;
}

.jumbotron > .container h1 sup {
  font-size: 30%;
  vertical-align: super;
  opacity: 0.5;
}

html, body {
  overflow-x: hidden;
}

.container.view.ng-enter,
.container.view.ng-leave {
  -webkit-transition: 775ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  -moz-transition: 775ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  -ms-transition: 775ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  -o-transition: 775ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  transition: 775ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
}

.container.view.ng-enter {
  opacity: 0.1;
  position: relative;
  left: 100%;
}

.container.view.ng-enter.ng-enter-active {
  opacity: 1;
  left: 0;
}

.container.view.ng-leave {
  position: absolute;
  z-index: -1;
  opacity: 1;
  left: 0;
}

.container.view.ng-leave.ng-leave-active {
  opacity: 0.1;
  display: none !important;
  left: -100%;
}

.footer {
  font-size: 16px;
  position: fixed;
  text-align: right;
  padding: 4px 10px;
  opacity: 0.7;
  background-color: white;
  border-top: 1px solid #ddd;
  bottom:0;
  right: 0;
  left:0;
}

.fsdemo-sample {
  position: relative;
  margin: 40px 0 60px 0;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.fsdemo-sample .fstabs{
  position: absolute;
  top: -18px;
  right: 30px;
}

.fsdemo-sample pre:last-child {
  margin-bottom: 0;
}

.fsdemo-sample .example-label {
  opacity: 1;
}

.fsdemo-sample > h4 {
  margin: 0;
  margin-top: -46px;
  background-color: #fff;
  padding: 5px;
}

.directive-header {
  position: relative;
}

.directive-header a {
  position: absolute;
  left: -36px;
  top: -4px;
}

.gh-md > h1:first-child {
  display: none;
}