<div class="fs-calendar" data-ng-switch="selectionMode">
  <div data-ng-switch-when="year">
    <div class="fs-calendar-header">
      <span class="fs-calendar-prev" data-ng-click="prevYearRange()"></span>
      <span class="fs-calendar-title" data-ng-click="switchSelectionMode()">
        {{ years[0] }}-{{ years[years.length-1] }}
      </span>
      <span class="fs-calendar-next" data-ng-click="nextYearRange()"></span>
    </div>
    <table class="table-condensed">
      <tr data-ng-repeat="yearGroup in yearGroups">
        <td data-ng-repeat="year in yearGroup"
            data-ng-click="selectYear(year)"
            data-ng-class="{'active': year == selectedYear}"
            class="year">
          {{ year }}
        </td>
      </tr>
    </table>
  </div>
  <div data-ng-switch-when="month">
    <div class="fs-calendar-header">
      <span class="fs-calendar-prev" data-ng-click="prevYear()"></span>
      <span class="fs-calendar-title" data-ng-click="switchSelectionMode()">
        {{ selectedYear }}
      </span>
      <span class="fs-calendar-next" data-ng-click="nextYear()"></span>
    </div>
    <table class="table-condensed">
      <tr data-ng-repeat="monthGroup in monthGroups">
        <td data-ng-repeat="month in monthGroup"
            data-ng-click="selectMonth(month)"
            data-ng-class="{'active': month == selectedMonth && isSameYear()}"
            class="month">
          {{ month }}
        </td>
      </tr>
    </table>
  </div>
  <div data-ng-switch-default>
    <div class="fs-calendar-header">
      <span class="fs-calendar-prev" data-ng-click="prevMonth()"></span>
      <span class="fs-calendar-title" data-ng-click="switchSelectionMode()">
        {{ selectedMonth + ', ' + selectedYear }}
      </span>
      <span class="fs-calendar-next" data-ng-click="nextMonth()"></span>
    </div>
    <table class="table-condensed">
      <thead>
      <tr>
        <th data-ng-repeat="weekDay in weekDays">
          {{ weekDay }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="week in weeks">
        <td data-ng-repeat="day in week" class="day"
            data-ng-class="{'day-in-selected-month': isDayInSelectedMonth(day),
                       'day-current': isCurrentDate(day),
                       'active bg-info': isSelectedDate(day)}"
            data-ng-click="selectDay(day)">
          {{ day.getDate() }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
