<div class='w-checkbox'>
  <div class='checkbox' ng-repeat='item in shownItems track by item.id' ng-class="{'w-checkbox-inline': inline}">
    <label ng-click='toggle(item)'>
      <a href='javascript:void(0)'
         class='w-checkbox-item-container'
         w-space='toggleOnSpace($event, item)'>
        <span ng-disabled='disabled'
              class="w-checkbox-item-container-sign w-checkbox-icon"
              ng-class="{'w-checkbox-icon-checked': hasItem(item), 'w-checkbox-icon-unchecked': !hasItem(item)}">&nbsp;</span>
        {{item[valueAttr]}}
      </a>
    </label>
  </div>
  <p ng-repeat='error in errors' class='text-danger'>{{error}}</p>
</div>
