<div class='w-chz'>
    <div ng-hide="active" ng-class="{'btn-group': selectedItem}">
      <a class="btn btn-default w-chz-active"
         ng-class='{"btn-danger": invalid()}'
         href="javascript:void(0)"
         ng-click="active=true"
         w-focus='focus'
         ng-disabled="disabled"
         ng-blur='focus=false'>
          {{selectedItem[valueAttr] || 'none'}}
      </a>
      <button type="button"
              class="btn btn-default"
              aria-hidden="true"
              ng-show='selectedItem'
              ng-click='reset()'>&times;</button>
    </div>
  <div class="open" ng-show="active">
    <input ng-keydown="onkeys($event)"
           w-focus="active"
           class="form-control"
           type="search"
           placeholder='Search'
           ng-model="search" />
    <ul class="dropdown-menu w-chz-items-list-default w-chz-items-list"
        role="menu"
        ng-show="shownItems.length">
       <li ng-repeat="item in shownItems"
           ng-class="{true: 'active'}[item == activeItem]">
         <a ng-click="selection(item)"
            href="javascript:void(0)"
            id='{{item[keyAttr]}}'
            tabindex='-1'>{{ item[valueAttr] }}</a>
       </li>
    </ul>
  </div>
  <p ng-repeat='error in errors' class='text-danger'>{{error}}</p>
</div>
