<div class="fs-datepicker fs-widget-root">
  <input
     fs-input
     fs-focus-when='active'
     fs-blur-when='!active'
     fs-on-focus='active = true'
     fs-on-blur='active = false'
     fs-hold-focus
     type="text"
     ng-disabled="disabled"
     class="form-control"
     ng-model="formattedDate" />
  <span class="glyphicon glyphicon-calendar"></span>

  <div ng-if="active" class="open fs-calendar-wrapper">
    <div class="dropdown-menu">
      <fs-calendar ng-model="selectedDate.date" />
    </div>
  </div>
</div>
