<div class='w-multi-select'>
  <input type='text' ng-model='selectedItem' style='display: none' ng-required='required' />
  <div ng-hide="active" ng-class="{'btn-group': selectedItems.length}">
    <div class="btn btn-default w-multi-select-active-items"
       href="javascript:void(0)"
       ng-click="active=true"
       w-focus='focus'
       ng-disabled="disabled"
       ng-blur='focus=false'>
      <span ng-hide='selectedItems.length'>none</span>
      <span ng-repeat='selectedItem in selectedItems' class="label label-primary w-multi-select-active-item">
        <span class="glyphicon glyphicon-remove" ng-click="deselect(selectedItem)"></span>
        {{selectedItem}}
      </span>
    </div>
    <button type="button"
            class="btn btn-default"
            aria-hidden="true"
            ng-show='selectedItems.length'
            ng-click='reset()'>&times;</button>
  </div>
  <div class="open" ng-show="active">
    <input ng-keydown="onkeys($event)"
           w-focus="active"
           class="form-control"
           type="search"
           placeholder='Search'
           ng-model="search" />
    <ul class="dropdown-menu w-multi-select-items-list-default w-multi-select-items-list"
        role="menu">
      <li ng-repeat="item in shownItems"
          ng-class="{true: 'active'}[item == activeItem]">
        <a ng-click="selection(item)"
           href="javascript:void(0)"
           id='{{item[keyAttr]}}'
           tabindex='-1'>{{ item[valueAttr] }}</a>
      </li>
    </ul>
  </div>
</div>
