<div class='w-multi-select w-widget-root'>
  <div class="w-multi-options" ng-if="selectedItems.length > 0">
    <a ng-repeat='selectedItem in selectedItems' class="btn" ng-click="unselectItem(selectedItem)">
      {{ getItemLabel(selectedItem) }}
      <span class="glyphicon glyphicon-remove" ></span>
    </a>
  </div>

  <input ng-keydown="onkeys($event)"
         w-input
         w-hold-focus
         w-on-focus="active = true"
         w-on-blur="active = false"
         w-down='move(1)'
         w-up='move(-1)'
         w-pgup='onPgup($event)'
         w-pgdown='onPgdown($event)'
         w-enter='onEnter($event)'
         class="form-control"
         type="text"
         placeholder='Select something'
         ng-model="search" />

  <div ng-if="active && (filteredItems = dropdownItems()).length > 0" class="open">
    <ul class="dropdown-menu w-multi-select-items-list-default w-multi-select-items-list"
        role="menu" >
      <li ng-repeat="item in filteredItems"
          ng-class="{true: 'active'}[$index == highlightIndex]">
        <a ng-click="selectItem(item)"
           href="javascript:void(0)"
           tabindex='-1'>{{ getItemLabel(item) }}</a>
      </li>
    </ul>
  </div>
</div>
