<div class='w-multi-select'>
  <div class="w-multi-options" ng-if="selectedItems.length > 0">
    <a ng-repeat='selectedItem in selectedItems' class="btn" ng-click="deselect(selectedItem)">
      {{selectedItem[valueAttr]}}
      <span class="glyphicon glyphicon-remove" ></span>
    </a>
  </div>
  <input ng-keydown="onkeys($event)"
         ng-focus="active=true"
         w-down='move(1)'
         w-up='move(-1)'
         w-pgup='onPgup($event)'
         w-pgdown='onPgdown($event)'
         w-enter='onEnter($event)'
         w-tab='onTab()'
         w-esc='onEsc()'
         w-focus="active"
         class="form-control"
         type="text"
         placeholder='Search'
         ng-model="search" />
  <div ng-if="active" class="open">
    <ul class="dropdown-menu w-multi-select-items-list-default w-multi-select-items-list"
        role="menu" >
      <li ng-repeat="item in shownItems"
          ng-class="{true: 'active'}[item == activeItem]">
        <a ng-click="selection(item)"
           href="javascript:void(0)"
           id='{{item[keyAttr]}}'
           tabindex='-1'>{{ item[valueAttr] }}</a>
      </li>
    </ul>
  </div>
  <p ng-repeat='error in errors' class='text-danger'>{{error}}</p>
</div>
