<div class='fs-multiselect fs-widget-root' ng-class='{ "fs-with-selected-items": selectedItems.length > 0 }'>
  <div class='fs-multiselect-wrapper'>
    <div class="fs-multiselect-selected-items" ng-if="selectedItems.length > 0">
      <a ng-repeat='selectedItem in selectedItems' class="btn" ng-click="unselectItem(selectedItem)">
        {{ getItemLabel(selectedItem) }}
        <span class="glyphicon glyphicon-remove" ></span>
      </a>
    </div>

    <input ng-keydown="onkeys($event)"
           fs-input
           fs-hold-focus
           fs-on-focus="active = true"
           fs-on-blur="active = false"
           fs-down='listInterface.move(1)'
           fs-up='listInterface.move(-1)'
           fs-pgup='listInterface.move(-11)'
           fs-pgdown='listInterface.move(11)'
           fs-enter='selectItem(listInterface.selectedItem)'
           class="form-control"
           type="text"
           placeholder='Select something'
           ng-model="search" />

    <div ng-if="active && dropdownItems.length > 0" class="open">
      <div fs-list items="dropdownItems">
        {{ item | json }}
      </div>
    </div>
  </div>
</div>
