<div class='w-radio'>
  <div class='radio' ng-repeat='item in shownItems' ng-class="{'w-radio-inline': inline}">
    <label ng-click='selection(item)'>
      <a href='javascript:void(0)' class='w-radio-item-container'>
        <span
          ng-disabled='disabled'
          class="w-radio-item-container-sign w-radio-icon"
          ng-class="{'w-radio-icon-checked': isSelected(item), 'w-radio-icon-unchecked': !isSelected(item)}"></span>
        {{item[valueAttr]}}
      </a>
    </label>
  </div>
  <p ng-repeat='error in errors' class='text-danger'>{{error}}</p>
</div>


