<div class='w-radio'>
  <input type='text' ng-model='selectedItem' style='display: none' ng-required='required' ng-disabled='disabled' />
  <div class='radio' ng-repeat='item in shownItems' ng-class="{'w-radio-inline': inline}">
    <label ng-click='selection(item)'>
      <a href='javascript:void(0)' class='w-radio-item-container'>
        <span
          ng-disabled='disabled'
          class="w-radio-item-container-sign glyphicon glyphicon-search"
          ng-class="{'glyphicon-pushpin': isSelected(item)}"></span>
        {{item[valueAttr]}}
      </a>
    </label>
  </div>
  <p ng-repeat='error in errors' class='text-danger'>{{error}}</p>
</div>


