<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<head>
  <meta charset="utf-8">

  <title>angular-w</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/angular-w.css"/>
    <style>
      .container {
        padding: 30px 10px;
      }
      form.form-horizontal {
        padding: 1em;
        border: 1px solid #ddd;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <h1> Widgets </h1>
      <hr/>
    </div>
    <div class="container" ng-controller='FormBuilderCtrl'>
      <div class='row'>
        <h1>Form builder</h1>
        <div class='col-sm-8'>
          <form ng-controller='FormCtrl' ng-init='object = samurai' class='form-horizontal' role='form' ng-submit='send()' name='form'>
            <div w-field='name' type='w-combo' object='samurai' items='names'></div>

            <div class='form-group'
                 ng-class='{"has-error": samurai.$errors.age.length > 0}'>
              <label for='samurai[age]' class='col-sm-2 control-label'>Age</label>
              <div class='col-sm-10'>
                <div w-chz
                     items='ages' 
                     invalid='samurai.$errors.age'
                     name='samurai[age]'
                     ng-model='samurai.age'></div>
                <div>
                  <p ng-repeat='error in samurai.$errors.age' class='text-danger'>{{error}}</p>
                </div>
              </div>
            </div>

            <div class='form-group'
                 ng-class='{"has-error": samurai.$errors.gender.length > 0}'>
              <label for='samurai[gender]' class='col-sm-2 control-label'>Gender</label>
              <div class='col-sm-10'>
                <div w-radio
                     items='genders'
                     invalid='samurai.$errors.gender'
                     name='samurai[gender]' 
                     ng-model='samurai.gender'></div>
                <div>
                  <p ng-repeat='error in samurai.$errors.gender' class='text-danger'>{{error}}</p>
                </div>
              </div>
            </div>

            <div class='form-group'
                 ng-class='{"has-error": samurai.$errors.likesToEat.length > 0}'>
              <label for='samurai[likesToEat]' class='col-sm-2 control-label'>Likes to eat</label>
              <div class='col-sm-10'>
                <div name='samurai[likesToEat]' w-checkbox items='meals' ng-model='samurai.likesToEat'></div>
                <div>
                  <p ng-repeat='error in samurai.$errors.likesToEat' class='text-danger'>{{error}}</p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
              </div>
            </div>
          </form>
        </div>
        <div class='col-sm-4'> 
          <pre>{{ samurai | json }}</pre>
          <pre ng-bind="samurai.$errors | json"></pre>
        </div>
      </div>
    </div>
    <div class="container" ng-controller="DemoCtrl">
      <form role="form" class='form-horizontal' name='w_form' action='/demo/index.html'>
        <div class="form-group">
          <label class="col-sm-2 control-label">Chosen</label>
          <div class="col-sm-10">
            <div w-chz="true"
                 items="items"
                 limit='20'
                 key-attr='id'
                 value-attr='label'
                 ng-model="value"
                 ng-disabled='disabled1'
                 ng-required='required'></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Chosen with same ngModel</label>
          <div class="col-sm-10">
            <div w-chz="true" items="items" ng-model="value">
              <div ng-show='item'>
                <b>{{item.label}}</b>: {{item.id}}
              </div>
              <div ng-hide='item'>
                none
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <label>
              <input type='checkbox' ng-model='disabled1' />
              Disable first chosen
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <label>
                  <input type='checkbox' ng-model='required' ng-init='required = true'/>
                  Make first chosen required
              </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container" ng-controller="MultiSelectCtrl">
      <form role="form" class='form-horizontal' name='w_form' action='/demo/index.html'>
        <div class="form-group">
          <label class="col-sm-2 control-label">MultiSelect</label>
          <div class="col-sm-10">
            <div w-multi-select="true"
                 items="items"
                 limit='20'
                 key-attr='code'
                 value-attr='char'
                 ng-model="value"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Combo -->
    <div class="container" ng-controller="ComboCtrl">
      <form role="form" class='form-horizontal' name='w_form' action='/demo/index.html'>
        <div class="form-group">
          <label class="col-sm-2 control-label">Combo</label>
          <div class="col-sm-10">
            <div w-combo="true"
                 items="items"
                 limit='20'
                 ng-model="value"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Combo</label>
          <div class="col-sm-10">
            <div w-combo="true"
                 items="items"
                 limit='20'
                 ng-model="value"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Tags -->
    <div class="container" ng-controller="TagsCtrl">
      <form role="form" class='form-horizontal' name='w_form' action='/demo/index.html'>
        <div class="form-group">
          <label class="col-sm-2 control-label">Tags</label>
          <div class="col-sm-10">
            <div w-tags="true"
                 items="items"
                 limit='20'
                 ng-model="value"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Tags</label>
          <div class="col-sm-10">
            <div w-tags="true"
                 items="items"
                 limit='20'
                 ng-model="value"></div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>


    <!-- Radiobutton -->
    <div class="container" ng-controller="RadioCtrl">
      <form role="form" class='form-horizontal' name='w_form' action='/demo/index.html'>
        <div class="form-group">
          <label class="col-sm-2 control-label">Radio (same controller as Select, different template)</label>
          <div class="col-sm-10">
            <div w-radio="true"
                 items="items"
                 ng-model="value"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Radio (same controller as Select, different template)</label>
          <div class="col-sm-10">
            <div w-radio="true"
                 items="items"
                 inline='true'
                 ng-model="value"></div>
          </div>
        </div>
      </form>
    </div>

    <!-- Checkboxes -->
    <div class="container" ng-controller="CheckboxCtrl">
      <form role="form" class='form-horizontal' name='w_form' action='/demo/index.html'>
        <div class="form-group">
          <label class="col-sm-2 control-label">Checkbox</label>
          <div class="col-sm-10">
            <div w-checkbox="true"
                 items="items"
                 ng-model="value"></div>
          </div>
        </div>
      </form>
    </div>

    <!-- Calendar -->
    <div class="container">
      <form role="form" class="form-horizontal">
        <h1>Calendar</h1>

        <div class="form-group">
          <div class="col-sm-6">
            <input type="text" ng-model="someDate">
            <br/>
            {{someDate|date:'fullDate'}}
            <br/>
            <!--<w-calendar ng-model="someDate" first-day-of-week="1"></w-calendar>-->
          </div>
          <div class="col-sm-6">
            <!--<input type="text" ng-model="someDate">-->
            <!--<w-calendar ng-model="someDate"></w-calendar>-->
            <br/>
            <input ng-model="someDate" w-date-format="short"/>
            <w-datepicker ng-model="someDate"></w-datepicker>{{someDate}}
            <w-datepicker ng-model="otherDate"></w-datepicker>{{otherDate}}
          </div>
        </div>
      </form>
    </div>


    <!--
      <div> 
          Form should:
            1. 
            2. 
            3. 
          Inputs should:
            1. Pass id and name to hidden input.
      </div>
    -->

  <script type="text/javascript" src="/angular/angular.js"></script>
  <script type="text/javascript" src="/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="/angular-touch/angular-touch.min.js"></script>
  <script type="text/javascript" src="/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/angular-w.js"></script>
  <script type="text/javascript" src="/script/demo.js"></script>
  </body>
</html>
