<div ng-repeat='widget in data' id="{{widget.name}}">
  <div class="page-header">
    <h1>{{ widget.name }}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div>
        <h2>Description</h2>
        <h5>Directive: <code>{{ widget.dir_name }}</code></h5>
        <p ng-bind-html='widget.description'></p>
      </div>
      <div ng-if='widget.alert' ng-bind-html='widget.alert' class="alert alert-warning"></div>
    </div>
  </div>
  <div ng-if='widget.example_html' class='row'>
    <div class="col-md-6">
      <h4>Example</h4>
        <pre>{{widget.example_html}}</pre>
        <pre>{{widget.example_js}}</pre>
    </div>
    <div class="col-md-6 demonstration">
      <h2>Demo</h2>
      <div ng-include src='"demo/widgets/" + widget.name.toLowerCase() + "/index.html"'></div>
    </div>
  </div>
  <div ng-repeat='option in widget.options'>
    <div class="row">
      <div class="col-md-6">
        <div>
          <h3>Option <var>{{ option.name }}</var></h3>
          <h5>Required: <code>{{ option.required }}</code></h5>
          <h5 ng-if='option.default'>Default: <code>{{ option.default }}</code></h5>
          <p ng-bind-html='option.description'></p>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-6">
        <h4>Example</h4>
        <pre class="prettyprint">{{option.example_html}}</pre>
        <pre class="prettyprint">{{option.example_js}}</pre>
      </div>
      <div class="col-md-6 demonstration">
        <h4>Demo</h4>
        <div ng-include src='"demo/widgets/" + widget.name.toLowerCase() + "/" + option.name + ".html"'></div>
      </div>
    </div>
  </div>
</div>
