<div>
  <div class="page-header">
    <h1>MultiSelect</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div>
        <h2>Description</h2>
        <h5>Directive: <code>w-multi-select</code></h5>
        <p>
          MultiSelect allows to select multiple items from a predefined list of options.
          Supported angular directives and options are similar to Select.
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6">
      <h4>Example</h4>
      <pre highlight='xml'>
&lt;form role='form' ng-controller='MultiSelectCtrl'&gt;
  &lt;div class='form-group'&gt;
    &lt;label&gt;Leisure Time:&lt;/label&gt;
    &lt;div w-multi-select
         ng-model='selectedGames'
         items='games'&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div&gt;
    You want to play
    &lt;ul&gt;
      &lt;li ng-repeat='item in selectedGames'&gt;
        {{item.label}}
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/form&gt;</pre>
      <pre highlight='javascript'>
angular.module('angular-w-demo')
.controller('MultiSelectCtrl', ['$scope', function($scope) {
  $scope.games = [
    {id: 0, label: 'Dragon Quest'},
    {id: 1, label: 'Final Fantasy'},
    {id: 2, label: 'Shin Megami Tensei'}
  ];
}]);</pre>
    </div>
    <div class="col-md-6 demonstration">
      <h2>Demo</h2>
      <div>
        <form role='form' ng-controller='MultiSelectCtrl'>
          <div class='form-group'>
            <label>Leisure Time:</label>
            <div w-multi-select
                 ng-model='selectedGames'
                 items='games'>
            </div>
          </div>
          <div>
            You want to play
            <ul>
              <li ng-repeat='item in selectedGames'>
                {{item.label}}
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
