<div>
  <div class="page-header">
    <h1>Select</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div>
        <h2>Description</h2>
        <h5>Directive: <code>w-chz</code></h5>
        <p>
          This input provides default select-like behavior.
          It allows to select only one item from predefined list
          or none of them. Supports several angular directives: 
          <code>ng-model</code>, <code>ng-disabled</code>, <code>ng-required</code>. 
          In <code>ng-model</code> it holds full object, not only value. 
        </p>
      </div>
        <strong>Warning!</strong>
        You should never use this and next directives on <code>input</code> tag.
        Use <code>div</code> instead.
      </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div>
          <h3>Option <var>items</var></h3>
          <h5>Required: <code>true</code></h5>
          <p>
            Option used for setting items list on <code>w-chz</code>.
            Value in it should be a list of objects with two fields:
            <code>id</code> and <code>label</code>. They can be overriden by
            <code>key-attr</code> and <code>value-attr</code> options respiectively.
          </p>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-6">
        <h4>Example</h4>
        <pre ng-non-bindable>
&lt;form role='form' ng-controller='ChzItemsCtrl'&gt;
  &lt;div class='form-group'&gt;
    &lt;label&gt;Select weapon:&lt;/label&gt;
    &lt;div w-chz items='weapons'&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;</pre>
        <pre ng-non-bindable>
angular.module('angular-w-demo')
.controller('ChzItemsCtrl', function($scope) {
  $scope.weapons = [
    {id: 'katana', label: 'Long sword Katana'},
    {id: 'yuml', label: 'Longbow Yuml'},
    {id: 'yari', label: 'Spear Yari'}
  ];
}</pre>
      </div>
      <div class="col-md-6 demonstration">
        <h4>Demo</h4>
        <div>
          <form role='form' ng-controller='ChzItemsCtrl'>
            <div class='form-group'>
              <label>Select weapon:</label>
              <div w-chz items='weapons'></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div>
          <h3>Option <var>limit</var></h3>
          <h5>Required: <code>false</code></h5>
          <h5>Default: <code>items.length</code></h5>
          <p>If it is set - limits number of items will be used.</p>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-6">
        <h4>Example</h4>
        <pre ng-non-bindable>
&lt;form role='form' ng-controller='ChzLimitsCtrl'&gt;
  &lt;div class='form-group'&gt;
    &lt;label&gt;Select number of weapons:&lt;/label&gt;
    &lt;div w-chz items='numbers' ng-model='numberOfWeapons'&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class='form-group'&gt;
    &lt;label&gt;Select weapon:&lt;/label&gt;
    &lt;div w-chz items='weapons' limit='numberOfWeapons.id'&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;</pre>
        <pre ng-non-bindable>
angular.module('angular-w-demo')
.controller('ChzLimitsCtrl', function($scope) {
  $scope.numbers = [
    {id: 1, label: 1},
    {id: 2, label: 2},
    {id: 3, label: 3}
  ];
  $scope.weapons = [
    {id: 'katana', label: 'Long sword Katana'},
    {id: 'yuml', label: 'Longbow Yuml'},
    {id: 'yari', label: 'Spear Yari'}
  ];
}</pre>
      </div>
      <div class="col-md-6 demonstration">
        <h4>Demo</h4>
        <div>
          <form role='form' ng-controller='ChzLimitsCtrl'>
            <div class='form-group'>
              <label>Select number of weapons:</label>
              <div w-chz items='numbers' ng-model='numberOfWeapons'></div>
            </div>
            <div class='form-group'>
              <label>Select weapon:</label>
              <div w-chz items='weapons' limit='numberOfWeapons.id'></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div>
          <h3>Option <var>key-attr and value-attr</var></h3>
          <h5>Required: <code>false</code></h5>
          <h5>Default: <code>key-attr='id', value-attr='label'</code></h5>
          <p>Overrides default names of fields for id and label of item.</p>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-6">
        <h4>Example</h4>
        <pre ng-non-bindable>
&lt;form role='form' ng-controller='ChzKeyValuesCtrl'&gt;
  &lt;div class='form-group'&gt;
    &lt;label&gt;Select city of Japan:&lt;/label&gt;
    &lt;div w-chz items='cities'  ng-model='city'
               key-attr='code' value-attr='name'&gt;
    &lt;/div&gt;
    Name: &lt;b&gt;{{city.name}}&lt;/b&gt;
    &lt;br /&gt;
    Code: &lt;b&gt;{{city.code}}&lt;/b&gt;
  &lt;/div&gt;
&lt;/form&gt;</pre>
        <pre ng-non-bindable>
angular.module('angular-w-demo')
.controller('ChzKeyValuesCtrl', function($scope) {
  $scope.cities = [
    {code: 'JP SPK', name: 'Sapporo'},
    {code: 'JP SDJ', name: 'Sendai'},
    {code: 'JP TYO', name: 'Tokyo'},
    {code: 'JP NGO', name: 'Nagoya'}
  ];
}</pre>
      </div>
      <div class="col-md-6 demonstration">
        <h4>Demo</h4>
        <div>
          <form role='form' ng-controller='ChzKeyValuesCtrl'>
            <div class='form-group'>
              <label>Select city of Japan:</label>
              <div w-chz items='cities'  ng-model='city'
                         key-attr='code' value-attr='name'>
              </div>
              Name: <b>{{city.name}}</b>
              <br />
              Code: <b>{{city.code}}</b>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div>
          <h3>Option <var>templating</var></h3>
          <h5>Required: <code>false</code></h5>
          <h5>Default: <code>item[valueAttr]</code></h5>
          <p>
            If some inner html is provided for directive tag,
            then those html will be used for rendering selected value.
            Selected item is accessible from templating by <code>item</code>
            variable. By default <code>item['label']</code> will be rendered or if
            <code>value-attr</code> is provided, then <code>item[value-attr]</code> will
            be used.
          </p>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-6">
        <h4>Example</h4>
        <pre ng-non-bindable>
&lt;form role='form' ng-controller='ChzKeyValuesCtrl'&gt;
  &lt;div class='form-group'&gt;
    &lt;label&gt;Select city of Japan:&lt;/label&gt;
    &lt;div w-chz items='cities' key-attr='code' value-attr='name'&gt;
      &lt;div ng-show='item'&gt;
        &lt;b&gt;{{item.name}}&lt;/b&gt;: {{item.code}}
      &lt;/div&gt;
      &lt;div ng-hide='item'&gt;
        Please, select a city.
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;</pre>
        <pre ng-non-bindable>
angular.module('angular-w-demo')
.controller('ChzKeyValuesCtrl', function($scope) {
  $scope.cities = [
    {code: 'JP SPK', name: 'Sapporo'},
    {code: 'JP SDJ', name: 'Sendai'},
    {code: 'JP TYO', name: 'Tokyo'},
    {code: 'JP NGO', name: 'Nagoya'}
  ];
}</pre>
      </div>
      <div class="col-md-6 demonstration">
        <h4>Demo</h4>
        <div>
          <form role='form' ng-controller='ChzKeyValuesCtrl'>
            <div class='form-group'>
              <label>Select city of Japan:</label>
              <div w-chz items='cities' key-attr='code' value-attr='name'>
                <div ng-show='item'>
                  <b>{{item.name}}</b>: {{item.code}}
                </div>
                <div ng-hide='item'>
                  Please, select a city.
                </div>
              </div>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

