<div>
  <div class="page-header">
    <h1>Tags</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div>
        <h2>Description</h2>
        <h5>Directive: <code>w-tags</code></h5>
        <p>
          Tags allows to select multiple values from a predefined
          list or to enter custom values. Only primitive types are
          supported as predefined values. Supports several angular
          directives: <code>ng-model</code>, <code>ng-disabled</code>,
          <code>ng-required</code>. Available options are <code>items</code>
          and <code>limit</code>. Attributes: <code>items</code> and <code>limit</code>.
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6">
      <h4>Example</h4>
      <pre highlight='xml'>
&lt;form role="form" ng-controller='TagsCtrl'&gt;
  &lt;div class="form-group"&gt;
    &lt;label&gt;Choose your element&lt;/label&gt;
    &lt;div w-tags="true"
         items="items"
         limit='20'
         ng-model="elements"&gt;
    &lt;/div&gt;
    Your elements are:
    &lt;ul&gt;
      &lt;li ng-repeat='element in elements'&gt;{{element}}&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/form&gt;</pre>
      <pre highlight='javascript'>
angular.module('angular-w-demo')
.controller('TagsCtrl', function($scope) {
  $scope.items = [ 'earth', 'water', 'fire', 'wind', 'void' ];
});</pre>
    </div>
    <div class="col-md-6 demonstration">
      <h2>Demo</h2>
      <div>
        <form role="form" ng-controller='TagsCtrl'>
          <div class="form-group">
            <label>Choose your element</label>
            <div w-tags="true"
                 items="items"
                 limit='20'
                 ng-model="elements">
            </div>
            Your elements are:
            <ul>
              <li ng-repeat='element in elements'>{{element}}</li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
