<!DOCTYPE html>
<html lang="en" ng-app="angular-w-demo">
  <head>
    <meta charset="utf-8">

    <title>angular-w</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles/syntax.css"/>
    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="stylesheet" href="build/angular-w.css"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" type="text/css"/>
    <style>
      .wip {
        color:red;
      }
      .page-header {
        padding-top: 40px;
      }
      .demonstration {
        padding-left: 200px;
      }
    </style>
  </head>
  <body>

  <!-- Le navbar
  ================================================== -->

    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class='navbar-brand' href='#'>Angular-w</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html#Select">Select</a></li>
              <li><a href="index.html#Multiselect">MultiSelect</a></li>
              <li><a href="index.html#Combo">Combo</a></li>
              <li><a href="index.html#Tags">Tags</a></li>
              <li><a href="index.html#Radio">Radio</a></li>
              <li><a href="index.html#Checkbox">Checkbox</a></li>
              <li><a href="index.html#Calendar">Calendar</a></li>
              <li><a href="index.html#Timepicker">Timepicker</a></li>
              <li><a href="index.html#Datetime">Datetime</a></li>
              <li><a href="index.html#Slider">Slider</a></li>
              <li><a href="formbuilder.html">FormBuilder</a></li>
              <li class="pull-right"><a href="#">by Health Samurai</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>


    <header class="bs-header">
      <div class="container">

        <h1>Angular-w</h1>

        <p>Pure AngularJS widgets library.</p>
      </div>
    </header>

    <div class='container'>
      {{content}}
    </div>

    <script type='text/javascript' src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type='text/javascript' src='bower_components/jquery/jquery.js'></script>
    <script type='text/javascript' src='bower_components/angular/angular.js'></script>
    <script type='text/javascript' src='build/angular-w.js'></script>
    <script type='text/javascript' src='scripts/app.js'></script>
    <script type='text/javascript' src='scripts/form_builder_ctrl.js'></script>
    <script type='text/javascript' src='scripts/chz_ctrl.js'></script>
    <script type='text/javascript' src='scripts/multi_select_ctrl.js'></script>
    <script type='text/javascript' src='scripts/combo_ctrl.js'></script>
    <script type='text/javascript' src='scripts/tags_ctrl.js'></script>
    <script type='text/javascript' src='scripts/radio_ctrl.js'></script>
    <script type='text/javascript' src='scripts/checkbox_ctrl.js'></script>
  </body>
</html>
