.w-calendar {
  user-select: none;
  display: inline-block;

  .w-calendar-header {
    a { cursor: pointer; }
    text-align: center;
  }

  .day {
    cursor: pointer;
    text-align: right;
    color: darkgray;
  }

  .day-in-selected-month {
    color: black;
  }

  .day-current {
    font-weight: bold;
  }

  .day-selected {
    font-weight: bold;
    background-color: lightgray;
  }
}
