.w-checkbox {
  position: relative;

  .w-checkbox-icon {
    width: 21px;
    height: 21px;
    display: inline-block;
    background-image: url("img/icons.png");

    &-checked {
      background-position: -90px -288px;
    }

    &-unchecked {
      background-position: 0px -288px;
    }
  }

  .w-checkbox-inline {
    float: left;
    padding-left: 20px;

    &+.w-checkbox-inline {
      margin-left: 10px;
    }
  }

  .w-checkbox-item-container {
    text-decoration: none;
    color: inherit;

    .w-checkbox-item-container-sign {
      margin-left: -20px;

      &[disabled] {
        color: #ccc;
        cursor: default;
      }
    }
  }
}
