.w-multi-select {
  .w-multi-select-items-list-default {
    margin-left: 15px;
    max-height: 300px;
    overflow-y: auto;
  }

  .w-multi-select-active-items {
    max-width: 300px;

    .w-multi-select-active-item {
      margin: 0 5px 0 5px;
    }
  }
}
