.w-radio {
  position: relative;
  .w-radio-items-list-default {
    max-height: 300px;
    overflow-y: auto;

    li {
      display: block;
    }
    .active{
      background-color: #428bca;
      color: #fff;

      a {
        background-color: #428bca;
        color: #fff;
      }
    }

  }
}
