.fs-select {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;

  width: 100%;
  padding-left: 0;
  padding-right: 0;
  position: relative;

  .fs-select-sel {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
  }
  .fs-select-active {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    text-align: left;
    width: 100%;
  }
  .fs-select-items-list {
  }
  .fs-select-clear-btn {
    color: rgb(169, 68, 66);
  }
  .fs-select-items-list-default {
    // max-height: 300px;
    width: 100%;
    overflofs-y: auto;
  }
}
.dropdown.no-popup .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
  float: none;
}
